<form action="POST" href="/submit-friend">
    <label for="firstName">First Name</label>  
    <input type="text" name="firstName" id="firstName">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName">
    <label for="age">Age</label>
    <input type="text" name="age" id="age">
    

    <button type="submit">Submit</button>

</form>
