<h1>My Friend App</h1>
<div>
    {{#each friends}}
        <div>
            <p>{{firstName}}</p>
            <p>{{lastName}}</p>
            <p>{{age}}</p>
        </div>
    {{/each}}
</div>
<div>
<button>
    <a href="/create-friend">Create Friend</a>
</button>
</div>